@page
@model WebApplication1MusicCollectionAppReal.Pages.Login
@{
	Layout = null;
	ViewData["Title"] = "LoginScreen";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's log in SCREEN</p>
