@page
@model WebApplication1MusicCollectionAppReal.Pages.Login
@{
	Layout = null;
	ViewData["Title"] = "LoginScreen";
}
<body>
	<link rel="stylesheet" href="~/css/LoginCSS.css" asp-append-version="true" />
</body>
<h1 class="titlescreen">Log in</h1>
<form method="post">
	<input asp-for="EmailAddress" type="text" placeholder="Enter your e-mail address" class="input emailvalue" />
	<input asp-for="Password" type="text" placeholder="Enter your password" class="input passwordvalue" />
	<button type="submit" asp-page-handler="LogIn" class="button">Log in</button>
</form>
<h3 class="requiredfields email">This field is required</h3>
<h3 class="requiredfields password">This field is required</h3>
<h1 class="errormessage">@Model.ErrorMessage</h1>