@page
@model WebApplication1MusicCollectionAppReal.Pages.PlaylistScreen
@{
	ViewData["Title"] = "Playlist Screen thingamabob";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's pLAYLIST SCREEN</p>
<form method="post">
    <input asp-for="NewName" placeholder="Enter new PlaylistName" />
    <button type="submit" asp-page-handler="ChangePlaylistName">Change PlaylistName</button>
</form>
<form method="post" enctype="multipart/form-data" asp-page-handler="ChangePlaylistPhoto">
    <label for="NewPhoto">Choose an image:</label>
    <input type="file" id="NewPhoto" name="NewPhoto" accept=".jpg,.jpeg,.png,.webp" required />
    <button type="submit">Upload</button>
</form>
<form method="post" asp-page-handler="SortingBy">
    <button type="submit" name="sort" value="artist_ASC">Artist ↑</button>
    <button type="submit" name="sort" value="artist_DESC">Artist ↓</button>
    <button type="submit" name="sort" value="album_ASC">Album ↑</button>
    <button type="submit" name="sort" value="album_DESC">Album ↓</button>
    <button type="submit" name="sort" value="dateadded_ASC">Date Added ↑</button>
    <button type="submit" name="sort" value="dateadded_DESC">Date Added ↓</button>
    <button type="submit" name="sort" value="song_ASC">Song ↑</button>
    <button type="submit" name="sort" value="song_DESC">Song ↓</button>
    <button type="submit" name="sort" value="length_ASC">Length ↑</button>
    <button type="submit" name="sort" value="length_DESC">Length ↓</button>
    <button type="submit" name="sort" value="random_random">Randomise</button>
</form>
<form method="post">
	<button type="submit" asp-page-handler="DeletePlaylist">Delete Playlist</button>
</form>
