@page
@model WebApplication1MusicCollectionAppReal.Pages.Song
@{
	ViewData["Title"] = "SongScreen";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's SCREEN</p>

<form method="post">
    <button type="submit">Add Song to a Playlist</button>
</form>
