body {
}
.playlist-picture {
    
    top: 10%;
    height: 300px;
    width: 300px;
    border-radius: 999px;
    border: 2px solid #000;
}
.playlistinfo {
    position: absolute;
}
.playlistname {
    left:27.5%;
    top:18.5%;
}
.playlistcreator {
    left:27.5%;
    top:28.5%;
}
.playlistcreationdate{
    left:27.5%;
    top:38.5%;
}
.playlistmethods{
    top:19%;
    left:50%;
    gap:20px;
}
.playlist-table {
    top:60%;
    width: 85%;
    border-collapse: collapse;
    font-family: sans-serif;
}

    .playlist-table th, .playlist-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .playlist-table th {
        background-color: #f9f9f9;
    }
.deletemethod {
    position: relative;
}

.deletebutton {
    background-color: #ff3333;
}
